<!DOCTYPE html>
<html>
	<head>
		<title>Administration Console</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style>
			form {
				text-align: center;
			}	
			table, th, td {
				align: center;
			    border: 1px solid black;
			    text-align: center;
			}
		</style>
	</head>
	<body>
		<table style = "text-align: center; border:0;">
			<tr height="30px">
				<td width="100px" style = "text-align: center; border:0;">					
				</td>
				<td width="500px" style = "text-align: center; border:0;">
				</td>
			</tr>
			<tr>
				<td width="100px" style = "text-align: center; border:0;">					
				</td>
				<td style = "text-align: center; border:0;">
					<h1>CloSSer: Cloud Storage Services</h1>
				</td>
			</tr>
			<tr>
				<td width="100px" style = "text-align: center; border:0;">
				</td>
				<td style = "text-align: center; border:0;">
					<form id='ConsoleForm'>
						{% csrf_token %}
						<div>
							<label>
								CloSSer service state 
								<input name="on" value="unchecked" type="checkbox">
							</label>
							<button type=submit>On/Off</button> 
						</div>
						<div>
							<label>
								Mounting directory
								<input id="mountDir" name="mountDir" size="40" type="text" value='/home/ialzuru/NCCloud-1.1/st' required>
							</label>
						</div>
					</form> 
					
					There are {{ n }} Cloud nodes configured:
			        <form action='/cloud/' method='POST' enctype='multipart/form-data'>
			        {% csrf_token %}
			            <table>
			                <tr>
			                    <td width="30px">Id</td>
			                    <td width="100px">Type</td>
			                    <td width="200px">Bucket Name</td>
			                    <td width="30px">Configure</td>
							</tr>
							{% for key, list in dict_clouds.items %}
							<tr>
								<td>{{ key }}</td>
								{% for v in list %}
									<td>{{ v }}</td>
								{% endfor %}
								<td><input type='submit' name='node{{ key }}' value='cfg'></td>
							</tr>
							{% endfor %}
						</table>
					</form> 
					<br/>
					
					<div>
						<label>
							Deduplication 
				        	<input name='dedup' type='checkbox' {{ dedup }}>
				    	</label>
				    	<button type=submit>On/Off</button>
					</div>
					<div>
						<label>
							Pointer directory
							<input id='pointerDir' name='pointerDir' type='text' size='40' value = "{{ pointerDir }}" required>
						</label>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html> 